<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>faptp - Pesquisar</title>
    <script src="{{ url_for('static', filename='pesquisar.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.css') }}" />
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <p class="title has-text-centered">Pesquisar solução</p>

                    <div class="field">
                        <div class="control">
                            <input type="text" pattern="\d+" placeholder="Código" id="solucao-id" class="input" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button id="solucao-pesquisar" class="button is-primary is-fullwidth">Pesquisar</button>
                        </div>
                    </div>

                    <div id="solucao" class="has-text-centered">
                    </div>

                    <a href="/">Voltar</a>
                </div>
            </div>
        </div>
    </section>
</body>
